<br/>
<div class="field">
  <label class="label">
    Uitnodiging email: 
    <div class="block">
      <button class="button is-link is-small" id="showtext">show</button>
      <button class="button is-primary is-small" id="copytext">copy to cliboard</button>
    </div>
  </label>

  <div class="control">
    <textarea class="mail-template-area textarea" id="email_template" rows="5">
Geachte <%= huurder.name %>,

Je kan Philips De Monteplein 7 komen bezoeken op zaterdag 12 oktober om 16u30.
Gelieve een loonbrief van de laatste 3 maanden mee te nemen of equivalent bewijs van inkomsten.


Mvg,
Walter

GSM: 0486118836 </textarea>
  </div>
</div>

